* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: inline-grid;
    background-color: lightblue;
    grid-template: 40px 40px 40px 40px 40px / 40px 40px 40px 40px 40px;
    grid-template-areas:
        "living-room living-room living-room living-room living-room"
        "living-room living-room living-room living-room living-room"
        "bedroom bedroom bathroom kitchen kitchen"
        "bedroom bedroom bathroom kitchen kitchen"
        "closet closet . . ."
}

.room {
    border: 1px solid black;
    font-size: 50%;
    text-align: center;
}

#living-room {
    grid-area: living-room;
}

#kitchen {
    grid-area: kitchen;
}

#bedroom {
    grid-area: bedroom;
}

#bathroom {
    grid-area: bathroom;
}

#closet {
    grid-area: closet;
}


/* .first-row {
    background-color: pink;
} */

/* .last-column {
    background-color: lightblue;
} */