* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: inline-grid;
    background-color: lightblue;
    grid-template: 40px 40px 40px 40px 40px / 40px 40px 40px 40px 40px;
}

.room {
    border: 1px solid black;
    font-size: 50%;
    text-align: center;
}

#living-room {
    grid-area: 1 / 1 / 3 / 6;
}

#kitchen {
    grid-column: 4 / 6;
    grid-row: 3 / 6;
}

#bedroom {
    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 3;
    grid-row-end: 5;
}

#bathroom {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 3;
    grid-row-end: 6;
}

#closet {
    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 5;
    grid-row-end: 6;
}


/* .first-row {
    background-color: pink;
} */

/* .last-column {
    background-color: lightblue;
} */