/*
min(), max() & clamp() functions
https://web.dev/articles/min-max-clamp
*/
#container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 6px solid black;
    resize: both;
    overflow: auto;
    max-width: 100%;
    max-height: 100%;
}

#iconHolder {
    width: min(200px, 100%);
    height: min(200px, 100%);
    box-sizing: border-box;
    border: 6px solid blue;
}