* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.menu-container {
    color: #fff;
    background-color: #5995DA;
    padding: 20px 0px;

    display: flex;
    justify-content: center;
}

.menu {
    /* For Debugging
    border: 1px solid #fff; */
    width: 900px;

    display: flex;
    justify-content: space-between;
}

.links {
    /* For Debugging
    border: 1px solid #fff; */

    display: flex;
    justify-content: flex-end;
}

.login {
    margin-left: 20px;
}

.header-container {
    color: #5995DA;
    background-color: #D6E9FE;

    display: flex;
    justify-content: center;
}

.header {
    width: 900px;
    height: 300px;

    display: flex;
    justify-content: space-between;

    align-items: center;
}

.subscribe,
.social {
    align-self: flex-end;
    margin-bottom: 20px;
}

.photo-grid-container {
    display: flex;
    justify-content: center;
}

.photo-grid {
    width: 900px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    /*
    flex-direction: row;
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse;
    */
    flex-direction: row;
    align-items: center;
}

.photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer-item {
    border: 1px solid white;
    background-color: #D6E9FE;
    height: 200px;
}

.footer-one,
.footer-three {
    background-color: #5995DA;
    
    flex: initial;
    width: 300px;
}

.footer-two {
    flex: 2;
}